<!-- layout container -->
<div class="layout-container">
  <!-- fixed header outside sidenav -->
  <app-header class="header" [isNavOpen]="isNavOpen" (toggleNav)="toggleSidenav()"> </app-header>

  <!-- sidebar navigation -->
  <mat-sidenav-container class="sidenav-container">
    <!-- left: sidenav -->
    <mat-sidenav
      #sidenav
      [mode]="isDesktop ? 'side' : 'over'"
      [opened]="sidenavOpened"
      (openedChange)="onSidenavOpenedChange($event)"
      class="sidenav"
    >
      <app-navbar (toggleNav)="toggleSidenav()"></app-navbar>
    </mat-sidenav>
    <!-- right: main content -->
    <mat-sidenav-content class="main-content">
      <main class="page-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
